:root {
	--font-family: 'Roboto', sans-serif;
	--white-color: #ffffff;
	--secondary-color: #2e2f42;
	--background-color: rgba(46, 47, 66, 0.7);
	--primary-color: #e5e5e5;
	--third-color: #f4f4fd;
	--base-txt-clr: #2e2f42;
	--secondary-text-clr: #434455;
	--base-btn-clr: #4d5ae5;
	--secondary-btn-clr: #404bbf;
	--logo-one-clr: #4d5ae5;
	--border: #e7e9fc;
	--icon-hover-color: #404bbf;
	--icon-color-backgraund: #4d5ae5;
	--border-customers-color: #8e8f99;
	--customer-hover: #404bbf;
	--color-features: #f4f4fd;
	--fotter-icons-color: #4d5ae5;
	--footer-icons--hover-color: #31d0aa;
	--customers-color: #8e8f99;
	--customers-icon-color: #afb1b8;
	--icon-color: #f4f4fd;
	--line-border-color: #404bbf;
	--portfolio-label-color: #f4f4fd;
	--portfolio-label-background-color: #4d5ae5;
	--modal-idx: 10;
	--modal-color: #fcfcfc;
	--modal-btn-hero: #e7e9fc;
	--modal-icon: #2e2f42;
	--modal-icon-hover-backraund: #404bbf;
	--modal-form-input: #2e2f42;
	--form-name-color: #2e2f42;
	--color-text-form: #8e8f99;
	--focus-form-modal: #4d5ae5;
	--border-color-input: rgba(46, 47, 66, 0.4);
	--modal-menu-text-color: #434455;
	--tel-menu-color: #4d5ae5;
  }
  body {
	font-family: var(--font-family);
	color: var(--secondary-text-clr);
	background-color: var(--white-color);
  }
  
  /* ============resert start=========== */
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
	margin: 0;
  }
  img {
	display: block;
	max-width: 100%;
	height: auto;
  }
  
  ul {
	margin: 0;
	padding-left: 0;
  }
  
  .list {
	list-style: none;
  }
  .link {
	text-decoration: none;
  }
  /* ============resert end=========== */
  
  /* Mobile Style < */
  .container {
	min-width: 320px;
	max-width: 428px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
  
	/* outline: 2px solid red;
	outline-offset: -2px; */
  }
  /* Tablet Style */
  @media only screen and (min-width: 768px) {
	.container {
	  max-width: 768px;
	}
  }
  
  /* Desctop Style */
  @media only screen and (min-width: 1158px) {
	.container {
	  max-width: 1158px;
	  /* padding-right: 15px;
	  padding-left: 15px; */
	}
  }
  
  /*=========== HEADER SECTION========== */
  /* Mobile Style < */
  .header {
	background-color: var(--white-color);
	border-bottom: 1px solid var(--border);
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
	  0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .page-header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  .page-logo {
	margin-right: auto;
  }
  .header-logo-one {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--logo-one-clr);
  }
  .header-logo-two {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--base-txt-clr);
  }
  
  /* Tablet Style */
  @media only screen and (max-width: 767px) {
	.page-header-container {
	  padding-top: 24px;
	  padding-bottom: 24px;
	}
	.menu-item {
	  display: none;
	}
	.contact {
	  display: none;
	}
  }
  @media only screen and (min-width: 768px) {
	.page-nav {
	  display: flex;
	  align-items: center;
	}
	.page-logo {
	  margin-right: 120px;
	}
	.menu {
	  display: flex;
	  gap: 40px;
	  align-items: center;
	}
  
	.menu-link {
	  position: relative;
	  display: block;
	  padding-top: 24px;
	  padding-bottom: 24px;
  
	  font-weight: 500;
	  font-size: 16px;
	  line-height: 1.5;
	  letter-spacing: 0.02em;
	  color: var(--base-txt-clr);
	  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	.menu-link:hover,
	.menu-link:focus {
	  color: var(--secondary-btn-clr);
	}
  
	.menu-link::after {
	  content: '';
	  position: absolute;
	  bottom: -1px;
	  left: 0;
  
	  display: block;
	  height: 4px;
	  width: 100%;
	  border-radius: 2px;
	}
	.menu-link.active {
	  color: var(--secondary-btn-clr);
	}
  
	.menu-link.active::after {
	  background-color: var(--line-border-color);
	}
	.contact {
	  font-size: 12px;
	  line-height: 1.16;
	  letter-spacing: 0.04em;
	  color: var(--secondary-text-clr);
	  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	.contact:hover,
	.contact:focus {
	  color: #404bbf;
	}
  
	.address {
	  margin: 0;
	  padding: 0;
	  font-style: normal;
	}
  
	.page-address {
	  display: block;
	  margin-left: auto;
	}
  }
  @media only screen and (max-width: 1157px) {
	.mail-header {
	  margin-bottom: 12px;
	}
	.tel-header {
	  margin: 0;
	  padding: 0;
	}
  }
  
  /* Desctop Style */
  @media only screen and (min-width: 1158px) {
	.page-nav {
	  display: flex;
	  align-items: center;
	}
	.page-logo {
	  margin-right: 76px;
	}
  
	.page-address {
	  display: flex;
	  gap: 40px;
	  align-items: center;
	}
	.contact {
	  font-size: 16px;
	  line-height: 1.5;
	  letter-spacing: 0.02em;
	  color: var(--secondary-text-clr);
	  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
  }
  
  /*=========== HERO SECTION========== */
  
  /* Mobile Style < */
  .hero {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: linear-gradient(
		rgba(46, 47, 66, 0.7),
		rgba(46, 47, 66, 0.7)
	  ),
	  url(../images/hero/Dark-bg_mob@1x.jpg);
  
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 112px;
	padding-bottom: 112px;
	background-color: var(--secondary-color);
  }
  @media (min-device-pixel-ratio: 2) and (max-width: 767px),
	(min-resolution: 192dpi) and (max-width: 767px),
	(min-resolution: 2dppx) and (max-width: 767px) {
	.hero {
	  background-image: linear-gradient(
		  rgba(46, 47, 66, 0.7),
		  rgba(46, 47, 66, 0.7)
		),
		url(../images/hero/Dark-bg_mob@2x.jpg);
	}
  }
  @media only screen and (max-width: 767px) {
	.title {
	  text-transform: capitalize;
	}
  }
  .title {
	margin-bottom: 72px;
	max-width: 320px;
	margin-right: auto;
	margin-left: auto;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-align: center;
	color: var(--white-color);
  }
  .modal-btn {
	display: block;
	min-width: 169px;
	height: 56px;
	border-radius: 4px;
	border: none;
	margin-right: auto;
	margin-left: auto;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
	  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: var(--white-color);
	background-color: var(--base-btn-clr);
	cursor: pointer;
  }
  .modal-btn:hover,
  .modal-btn:focus {
	background-color: var(--secondary-btn-clr);
	box-shadow: rgba(0, 0, 0, 0.15) 0px 4px;
  }
  
  /* Tablet Style */
  
  @media only screen and (min-width: 768px) {
	.hero {
	  background-image: linear-gradient(
		  rgba(46, 47, 66, 0.7),
		  rgba(46, 47, 66, 0.7)
		),
		url(../images/hero/Dark-bg-tab@1x.jpg);
	}
	.title {
	  margin-bottom: 36px;
	  max-width: 496px;
	  font-size: 56px;
	  line-height: 1.07;
	}
  }
  @media (min-device-pixel-ratio: 2) and (min-width: 768px),
	(min-resolution: 192dpi) and (min-width: 768px),
	(min-resolution: 2dppx) and (min-width: 768px) {
	.hero {
	  background-image: linear-gradient(
		  rgba(46, 47, 66, 0.7),
		  rgba(46, 47, 66, 0.7)
		),
		url(../images/hero/Dark-bg-tab@2x.jpg);
	}
  }
  /* Desctop Style */
  @media only screen and (min-width: 1158px) {
	.hero {
	  padding-top: 188px;
	  padding-bottom: 188px;
	  background-image: linear-gradient(
		  rgba(46, 47, 66, 0.7),
		  rgba(46, 47, 66, 0.7)
		),
		url(../images/hero/people-office\ 1_desct@1x.jpg);
	}
	.title {
	  margin-bottom: 48px;
	}
  }
  
  @media (min-device-pixel-ratio: 2) and (min-width: 1158px),
	(min-resolution: 192dpi) and (min-width: 1158px),
	(min-resolution: 2dppx) and (min-width: 1158px) {
	.hero {
	  background-image: linear-gradient(
		  rgba(46, 47, 66, 0.7),
		  rgba(46, 47, 66, 0.7)
		),
		url(../images/hero/people-office\ 1_desct@2x.jpg);
	}
  }
  @media only screen and (min-width: 1158px) {
	.title {
	  margin-bottom: 48px;
	}
  }
  
  /*=========== FEATURE SECTION========== */
  /* Mobile Style < */
  .features-container {
	padding: 96px 0;
  }
  .features-list-container {
	display: flex;
	flex-wrap: wrap;
	gap: 72px 24px;
  }
  
  .main-feature {
	margin-bottom: 8px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	color: var(--base-txt-clr);
  }
  .item-feature {
	/* width: 264px; */
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--secondary-text-clr);
  }
  @media only screen and (max-width: 767px) {
	.main-feature {
	  text-align: center;
	}
  }
  @media only screen and (max-width: 1157px) {
	.features-link {
	  display: none;
	}
  }
  
  /* Tablet Style */
  @media only screen and (min-width: 768px) {
	.features-description {
	  width: 356px;
	}
  }
  
  /* Desctop Style */
  @media only screen and (min-width: 1158px) {
	.features-container {
	  padding: 120px 0;
	}
	.title-feature {
	  font-size: 36px;
	  line-height: 1.1;
	  letter-spacing: 0.02em;
	  text-align: center;
	  color: var(--base-txt-clr);
	}
	.features-description {
	  flex-basis: calc((100% - 72px) / 4);
	}
  
	.main-feature {
	  font-weight: 500;
	  font-size: 20px;
	  line-height: 1.2;
	}
  
	.features-link {
	  margin-bottom: 8px;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  width: 264px;
	  height: 112px;
	  background-color: var(--color-features);
	  border-radius: 4px;
	}
	.features-icon {
	  fill: currentColor;
	}
  }
  
  /*=========== WE DOING SECTION========== */
  
  @media only screen and (max-width: 1157px) {
	.wedoing {
	  display: none;
	}
  }
  /* Desctop Style */
  @media only screen and (min-width: 1158px) {
	.wedoing {
	  padding-bottom: 120px;
	}
  
	.wedoing-list-container {
	  display: flex;
	  gap: 24px;
	}
  
	.title-wedoing {
	  margin-bottom: 72px;
  
	  font-size: 36px;
	  text-align: center;
	  line-height: 1.11;
	  letter-spacing: 0.02em;
	  text-transform: capitalize;
	  color: var(--base-txt-clr);
	}
	.wedoing-list {
	  flex-basis: calc((100% - 48px) / 3);
	}
  }
  
  /*=========== TEAM SECTION========== */
  
  /* Mobile Style < */
  .team-list-container {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	gap: 72px 24px;
  }
  .team {
	background-color: var(--third-color);
	padding-top: 96px;
	padding-bottom: 96px;
  }
  
  .field {
	background-color: var(--white-color);
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
	  0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .title-team {
	margin-bottom: 72px;
  
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-align: center;
	text-transform: capitalize;
	color: var(--base-txt-clr);
  }
  .name {
	margin-bottom: 8px;
  
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	text-align: center;
	color: var(--base-txt-clr);
  }
  .position {
	margin-bottom: 8px;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-align: center;
	color: var(--secondary-text-clr);
  }
  .team-card {
	border-radius: 0px 0px 4px 4px;
  }
  .card {
	padding-top: 32px;
	padding-bottom: 32px;
	padding-left: 16px;
	padding-right: 16px;
	border-radius: 0px 0px 4px 4px;
  }
  .card-list-team {
	padding: 32px 0;
  }
  .socials {
	display: flex;
	justify-content: center;
	gap: 24px;
  }
  .socials-items {
	width: 40px;
	height: 40px;
  }
  .socials-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: var(--icon-color-backgraund);
	border-radius: 50%;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .socials-link:hover,
  .socials-link:focus {
	background-color: var(--icon-hover-color);
  }
  .social-icon {
	fill: var(--icon-color);
  }
  /* Tablet Style */
  @media only screen and (min-width: 768px) {
  }
  
  /* Desctop Style */
  @media only screen and (min-width: 1158px) {
	.team {
	  padding-top: 120px;
	  padding-bottom: 120px;
	}
  
	.team-card {
	  flex-basis: calc((100% - 72px) / 4);
	}
  }
  
  /*===============CUSTOMERS SECTION===========*/
  /* Mobile Style < */
  .customers {
	padding-top: 96px;
	padding-bottom: 96px;
  }
  
  .title-customers {
	margin-bottom: 72px;
  
	font-size: 36px;
	line-height: 1.1;
	letter-spacing: 0.02em;
	text-align: center;
	text-transform: capitalize;
	color: var(--base-txt-clr);
  }
  .client {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 72px 16px;
  }
  .clients-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 190px;
	height: 88px;
	border-radius: 4px;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
	  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	border: 1px solid var(--border-customers-color);
	color: var(--customers-icon-color);
	color: var(--customers-color);
  }
  
  .clients-link:hover,
  .clients-link:focus {
	border-color: var(--customer-hover);
	color: var(--customer-hover);
  }
  .customers-icon {
	fill: currentColor;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .clients-link .customers-icon:hover,
  .clients-link .customers-icon:focus {
	fill: var(--customer-hover);
  }
  
  /* Tablet Style */
  @media only screen and (min-width: 768px) and (max-width: 1158px) {
	.customers-container {
	  max-width: 582px;
	}
  }
  @media only screen and (min-width: 768px) {
	.client {
	  gap: 72px 24px;
	}
	.clients-link {
	  width: 168px;
	}
  }
  
  /* Desctop Style */
  @media only screen and (min-width: 1158px) {
	.customers {
	  padding-top: 120px;
	  padding-bottom: 120px;
	}
	.client {
	  display: flex;
	  justify-content: center;
	  gap: 24px;
	}
  }
  
  /*=========== FOOTER SECTION========== */
  /* Mobile Style < */
  .footer {
	display: block;
	padding-top: 96px;
	padding-bottom: 96px;
  }
  .footer-container {
	display: flex;
	flex-wrap: wrap;
	gap: 72px 0;
  }
  .logo-container {
	display: block;
	margin-bottom: 16px;
  }
  .footer {
	background-color: var(--secondary-color);
  }
  
  .footer-logo-one {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--logo-one-clr);
  }
  .footer-logo-two {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--third-color);
  }
  .footer-end {
	max-width: 264px;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--third-color);
  }
  .footer-list-icon {
	align-items: baseline;
  }
  
  .footer-media {
	margin-bottom: 16px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--white-color);
  }
  .footer-icon-container {
	display: flex;
	gap: 16px;
  }
  
  .footer-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background-color: var(--fotter-icons-color);
	border-radius: 50%;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .footer-link:hover,
  .footer-link:focus {
	background-color: var(--footer-icons--hover-color);
  }
  
  .footer-icon {
	fill: var(--icon-color);
  }
  
  .footer-email::placeholder {
	font-size: 12px;
	line-height: 2;
	letter-spacing: 0.04em;
	color: var(--white-color);
  }
  
  .footer-email {
	margin-bottom: 16px;
	padding: 8px 16px;
  
	height: 40px;
	border-radius: 4px;
	border: 1px solid var(--white-color);
	background-color: transparent;
	outline: 2px solid transparent;
	outline-offset: -2px;
	color: var(--white-color);
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-email:focus {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  
  .footer-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
  
	min-width: 165px;
	height: 40px;
	border-radius: 4px;
  
	border: none;
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	cursor: pointer;
	letter-spacing: 0.04em;
	color: var(--white-color);
	background-color: var(--base-btn-clr);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
	  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-btn:hover,
  .footer-btn:focus {
	background-color: var(--secondary-btn-clr);
	box-shadow: rgba(0, 0, 0, 0.15) 0px 4px;
  }
  
  @media only screen and (max-width: 767px) {
	.logo-container {
	  text-align: center;
	}
	.footer-email {
	  width: 100%;
	  max-width: 398px;
	}
	.form {
	  margin-left: auto;
	  margin-right: auto;
	}
  
	.footer-indent {
	  margin-right: auto;
	  margin-left: auto;
	}
	.footer-media {
	  text-align: center;
	}
	.footer-list-icon {
	  margin-right: auto;
	  margin-left: auto;
	}
  }
  .form-footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  }
  /* Tablet Style */
  @media only screen and (min-width: 768px) and (max-width: 1158px) {
	.footer-container {
	  max-width: 582px;
	}
  }
  @media only screen and (min-width: 768px) {
	.form-footer {
	  display: flex;
	  gap: 24px;
	}
	.footer-email {
	  min-width: 264px;
	}
	.footer-indent {
	  margin-right: 24px;
	}
  }
  
  /* Desctop Style */
  @media only screen and (min-width: 1158px) {
	.footer {
	  display: flex;
	  padding-top: 100px;
	  padding-bottom: 100px;
	}
	.footer-container {
	  display: flex;
	  align-items: baseline;
	}
	.footer-indent {
	  margin-right: 120px;
	}
	.logo-container {
	  display: inline-block;
	  margin-bottom: 16px;
	}
	.form-footer {
	  display: flex;
	  gap: 24px;
	}
	.footer-container {
	  display: flex;
	}
	.footer-list-icon {
	  margin-right: 80px;
	}
  }
  
  /* ---------------------Portfolio.html------------------- */
  
  /* ============PORTFOLIO SECTION============ */
  /* Mobile Style */
  .portfolio {
	padding-top: 48px;
	padding-bottom: 48px;
  }
  .title-portfolio {
	font-size: 56px;
	line-height: 1.07;
	letter-spacing: 0.02em;
	color: var(--base-txt-clr);
  }
  .btn-portfolio {
	display: flex;
	flex-wrap: wrap;
	gap: 16px 24px;
	margin-bottom: 48px;
  }
  @media only screen and (max-width: 768px) {
	.btn-portfolio {
	  width: 265px;
	}
  }
  .filter-btn {
	padding: 8px 16px;
	border-radius: 4px;
	border: 1px solid var(--border);
  
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--base-btn-clr);
	background-color: var(--third-color);
	cursor: pointer;
	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
	  color 250ms cubic-bezier(0.4, 0, 0.2, 1),
	  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
	  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .filter-btn:hover,
  .filter-btn:focus {
	border: 1px solid transparent;
	color: var(--white-color);
	background-color: var(--secondary-btn-clr);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
	  0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  .portfolio-list-container {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	column-gap: 24px;
	row-gap: 48px;
  }
  
  /* Tablet Style */
  @media only screen and (min-width: 768px) {
	.portfolio {
	  padding-top: 64px;
	  padding-bottom: 196px;
	}
	.btn-portfolio {
	  display: flex;
	  gap: 24px;
	  margin-bottom: 68px;
	  justify-content: center;
	}
	.filter-btn {
	  padding-top: 12px;
	  padding-right: 24px;
	  padding-bottom: 12px;
	  padding-left: 24px;
	}
	.our-portfolio {
	  flex-basis: calc((100% - 24px) / 2);
	}
  }
  /* Desctop Style */
  @media only screen and (min-width: 1158px) {
	.portfolio {
	  padding-top: 100px;
	  padding-bottom: 120px;
	}
	.our-portfolio {
	  flex-basis: calc((100% - 48px) / 3);
	}
  }
  
  .portfolio-list-container {
	justify-content: flex-start;
	display: flex;
	flex-wrap: wrap;
	column-gap: 24px;
	row-gap: 48px;
  }
  
  .card-list:hover .overlay-label,
  .card-list:focus .overlay-label {
	transform: translate(0, 0);
  }
  .portfolio-box {
	position: relative;
	overflow: hidden;
  }
  .overlay-label {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	transform: translate(0, 100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	padding: 40px 32px;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--portfolio-label-color);
	background-color: var(--portfolio-label-background-color);
  }
  .portfolio-item {
	margin-bottom: 8px;
  
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--base-txt-clr);
  }
  .portfolio-category {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--secondary-text-clr);
  }
  
  .portfolio-card {
	padding: 32px 16px;
	border: 1px solid var(--border);
	border-top: none;
  }
  
  .card-list {
	display: block;
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .card-list:hover,
  .card-list:focus {
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
	  0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  
  /* ==========MODAL WINDOW ============*/
  .backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: var(--modal-idx);
	background-color: rgba(46, 47, 66, 0.4);
	opacity: 1;
	visibility: visible;
	pointer-events: initial;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
	  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
	  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .backdrop.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition-delay: 300ms;
  }
  
  .modal {
	padding: 72px 24px 24px 24px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 408px;
	transform: translate(-50%, -50%);
	opacity: 1;
	max-height: 576px;
	border-radius: 4px;
	background-color: var(--modal-color);
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 3px rgba(0, 0, 0, 0.12),
	  0px 1px 1px rgba(0, 0, 0, 0.14);
	transition: transform 250ms ease-in 100ms, opacity 250ms ease-in 100ms;
  }
  @media only screen and (max-width: 427px) {
	.modal {
	  width: calc(100% - 30px);
	  padding: 72px 16px 24px 16px;
	}
  }
  
  @media only screen and (min-width: 428px) and (max-width: 767px) {
	.modal {
	  width: 392px;
	  padding: 72px 16px 24px 16px;
	}
  }
  @media only screen and (max-width: 1157px) {
	.modal {
	  overflow-y: auto;
	  height: 90%;
	}
  }
  
  .backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0.2);
	opacity: 0;
  }
  .modal-btn-hero {
	position: absolute;
	top: 24px;
	right: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--modal-btn-hero);
	fill: var(--modal-icon);
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0;
	height: 24px;
	width: 24px;
	border-radius: 50%;
	cursor: pointer;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
	  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-btn-hero:hover,
  .modal-btn-hero:focus {
	background-color: var(--modal-icon-hover-backraund);
	fill: var(--white-color);
  }
  
  .form-name {
	margin-bottom: 16px;
  
	text-align: center;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--form-name-color);
  }
  .style-label {
	display: block;
	margin-bottom: 4px;
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.01em;
	color: var(--color-text-form);
  }
  .modal-form {
	display: block;
  }
  
  .form-input-icon {
	display: block;
	position: relative;
	margin-bottom: 8px;
  }
  .modal-input {
	padding-left: 38px;
	width: 100%;
	height: 40px;
	border-radius: 4px;
	border: 1px solid var(--border-color-input);
	outline: 1px solid transparent;
	outline-offset: -1px;
	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-input:focus {
	border: transparent;
	outline-color: var(--focus-form-modal);
  }
  
  .icon-modal-form {
	position: absolute;
  
	top: 50%;
	left: 16px;
	transform: translateY(-50%);
  
	fill: var(--modal-icon);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	pointer-events: none;
  }
  .modal-input:focus + .icon-modal-form {
	fill: var(--focus-form-modal);
  }
  
  .modal-form-message {
	padding: 8px 16px;
	margin-bottom: 16px;
  
	width: 100%;
	min-height: 120px;
	resize: none;
	border-radius: 4px;
	border: 1px solid var(--border-color-input);
	outline: 1px solid transparent;
	outline-offset: -1px;
  
	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-form-message::placeholder {
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.04em;
	color: rgba(46, 47, 66, 0.4);
  }
  .modal-form-message:focus {
	border: transparent;
	outline-color: var(--focus-form-modal);
  }
  .modal-form-policy {
	display: flex;
	align-items: center;
  
	margin-bottom: 24px;
  }
  .form-checkbox {
	appearance: none;
  }
  .icon-vector-unchecked {
	opacity: 1;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  input[type='checkbox']:checked + .icon-vector > .icon-vector-unchecked {
	opacity: 0;
  }
  .icon-vector-checked {
	opacity: 0;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  input[type='checkbox']:checked + .icon-vector > .icon-vector-checked {
	opacity: 1;
  }
  
  .policy-checkbox {
	margin-left: 8px;
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.04em;
	color: var(--color-text-form);
  }
  .policy-checkbox-iris {
	color: var(--focus-form-modal);
  }
  
  .modal-form-btn {
	display: block;
	width: 169px;
	height: 56px;
	border-radius: 4px;
	border: none;
	margin-right: auto;
	margin-left: auto;
  
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	cursor: pointer;
	letter-spacing: 0.04em;
	color: var(--white-color);
	background-color: var(--base-btn-clr);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
	  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-form-btn:hover,
  .modal-form-btn:focus {
	background-color: var(--secondary-btn-clr);
	box-shadow: rgba(0, 0, 0, 0.15) 0px 4px;
  }
  
  /* MOBILE-MENU STYLE */
  .menu-toggle {
	min-height: 40px;
	min-width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
  
	margin-left: auto;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
	border: none;
	border-radius: 50%;
	outline: none;
  }
  
  @media only screen and (min-width: 768px) {
	.menu-toggle {
	  display: none;
	}
  }
  
  .menu-toggle:hover,
  .menu-toggle:focus {
	background-color: rgba(0, 0, 0, 0.1);
  }
  .menu-toggle-icon {
	stroke: var(--modal-icon);
  }
  .menu-container {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 80px 35px 40px;
	background-color: var(--white-color);
	z-index: 999;
  
	transform: translateX(100%);
	transition: transform 250ms ease-in-out;
  }
  
  .menu-container.is-open {
	transform: translateX(0);
  }
  
  /* .menu-container .menu-toggle {
	position: absolute;
	top: 16px;
	right: 16px;
	color: #fff;
  } */
  
  .mobile-menu {
	padding: 0;
	margin: 0;
	list-style: none;
	margin-bottom: auto;
  }
  
  .menu-contacts {
	margin-bottom: 40px;
	font-weight: 700;
	font-size: 36px;
	text-align: left;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: var(--modal-menu-text-color);
	display: block;
  }
  
  .menu-contacts.active {
	color: var(--icon-hover-color);
  }
  
  .contacts-menu {
	margin-bottom: 40px;
	font-weight: 700;
	font-size: 36px;
	text-align: left;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: var(--tel-menu-color);
  }
  .contacts-menu:focus,
  .contacts-menu:hover {
	color: var(--icon-hover-color);
  }
  
  @media only screen and (max-width: 427px) {
	.contacts-menu {
	  font-size: 24px;
	}
	.mobile-social {
	  display: flex;
	  gap: 30px;
	  justify-content: left;
	}
  }
  .mobile-contacts {
	margin-bottom: 48px;
  }
  .tel-modal-menu {
	margin-bottom: 40px;
  }
  .contacts-menu-mail {
	font-size: 20px;
	text-align: left;
	line-height: 1.2;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: var(--modal-menu-text-color);
  }
  .contacts-menu-mail:focus,
  .contacts-menu-mail:hover {
	color: var(--icon-hover-color);
  }
  @media only screen and (min-width: 428px) {
	.mobile-social {
	  display: flex;
	  gap: 56px;
	  justify-content: left;
	}
  }
  
  .menu-close-modal {
	position: absolute;
	top: 24px;
	right: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--white-color);
	fill: var(--modal-icon);
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0;
	height: 24px;
	width: 24px;
	border-radius: 50%;
	cursor: pointer;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
	  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-close-modal:hover,
  .menu-close-modal:focus {
	background-color: var(--modal-icon-hover-backraund);
	fill: var(--white-color);
  }
  